<a href="https://colab.research.google.com/github/TreyvonHinnant/ThinkPythonAssignments/blob/main/Week2/Week2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
# IMPORT STATEMENTS
# (NONE)

# FUNCTIONS DEFINITIONS
# (NONE)

# PROGRAM LOGIC
# 1. PRINT the total minutes in a movie (2 * 60 + 45)
print ("Total minutes in movie:" + str(  (2 * 60 +45) )

# 2. Print the years since 1947 (2026 - 1947).
print ("Years since first bug:" + str( (2026 - 1947)

# 3. Print the total cost of 7 books (7 * 35).
print ("Total cost of books:" + str( (7 * 35))

SyntaxError: invalid syntax. Perhaps you forgot a comma? (ipython-input-1805822043.py, line 9)

In [ ]:
Total minutes in movie: 165
Years since first bug: 79
Total cost of books: 245